absl-py==1.4.0
asgiref==3.4.1
attrs==23.1.0
black==21.9b0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.2.1
Deprecated==1.2.14
Django==3.2.8
django-debug-toolbar==3.2.2
django-elasticsearch-dsl==7.2.1
django-elasticsearch-dsl-drf==0.22.2
django-filter==21.1
django-nine==0.2.5
django-storages==1.12.3
django-test-without-migrations==0.6
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
docstring-parser==0.15
drf-flex-fields==0.9.6
drf-nested-routers==0.93.4
elasticsearch==7.15.1
elasticsearch-dsl==7.4.0
fire==0.5.0
google-api-core==2.11.1
google-api-python-client==1.12.11
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
gunicorn==20.1.0
httplib2==0.22.0
idna==3.3
importlib-resources==5.12.0
jsonschema==4.17.3
kfp==1.8.22
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kubernetes==25.3.0
minio==7.1.15
mypy-extensions==0.4.3
networkx==3.1
oauthlib==3.2.2
pathspec==0.9.0
pip-autoremove==0.10.0
pkgutil-resolve-name==1.3.10
platformdirs==2.4.0
protobuf==3.20.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.9
PyJWT==2.3.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==0.19.1
pytz==2021.3
PyYAML==6.0
regex==2021.10.8
requests==2.26.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rsa==4.8
six==1.16.0
sqlparse==0.4.2
strip-hints==0.1.10
tabulate==0.9.0
termcolor==2.3.0
tomli==1.2.1
typer==0.9.0
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.7
websocket-client==1.5.3
wrapt==1.15.0
zipp==3.15.0
