{% extends "base.html" %}

{% load static %}

{% block title %}데이터 모니터링{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<style>
    .card>.card-body>.row>div {
        height: 225px;
    }

    @media (min-width: 1921px) {
        .card>.card-body>.row>div {
            height: 370px;
        }
    }

    .dropdown-toggle {
        padding: 0;
        border: 0;
    }

    .dropdown-toggle::after {
        display: none;
    }

    div.col.text-truncate[data-bs-target="#monitoringListItemModal"] {
        cursor: pointer;
    }

    #monitoringListItemChart {
        width: 100%;
        height: 300px;
    }

    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ripple div {
        position: absolute;
        border: 4px solid #000;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
        0% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 0px;
            left: 0px;
            width: 72px;
            height: 72px;
            opacity: 0;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">데이터 모니터링</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">메인</a></li>
                            <li class="breadcrumb-item">데이터 모니터링</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>기본 모니터링</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>서비스를 준비중입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div id="operationSite1-card" class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>시온유 태양광</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-secondary"></i> 정상
                                        <i class="bi bi-circle-fill text-danger"></i> 이상
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">ESS 정보 보기</a></li>
                                                <li><a class="dropdown-item" href="#">지난 로그 보기</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operationDataDownloadModal"
                                                        data-operation-site-id="1">운영 데이터 다운로드</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Monitoring list area -->
                            <div id="operationSite1-monitoring-list-column" class="col-xl-8 col-md-12 overflow-auto">
                                <!-- Bank -->
                                <div class="row">
                                    <div class="col-auto p-r-0"><i class="bi bi-circle-fill text-secondary"></i></div>
                                    <div class="col">
                                        <h6>Bank 1</h6>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                            <!-- Monitoring log area  -->
                            <div id="operationSite1-monitoring-log-column" class="col-xl-4 col-md-12 overflow-auto">
                                <select class="form-select form-select-sm mb-1">
                                    <option>All</option>
                                    <option>Warning</option>
                                    <option>Danger</option>
                                </select>
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="검색어를 입력하세요.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>백마 태양광</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-secondary"></i> 정상
                                        <i class="bi bi-circle-fill text-danger"></i> 이상
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">ESS 정보 보기</a></li>
                                                <li><a class="dropdown-item" href="#">지난 로그 보기</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operationDataDownloadModal"
                                                        data-operation-site-id="2">운영 데이터 다운로드</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>서비스를 준비중입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>황금6호 태양광</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-secondary"></i> 정상
                                        <i class="bi bi-circle-fill text-danger"></i> 이상
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">ESS 정보 보기</a></li>
                                                <li><a class="dropdown-item" href="#">지난 로그 보기</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operationDataDownloadModal"
                                                        data-operation-site-id="3">운영 데이터 다운로드</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>서비스를 준비중입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>판리2호 태양광</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-secondary"></i> 정상
                                        <i class="bi bi-circle-fill text-danger"></i> 이상
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">ESS 정보 보기</a></li>
                                                <li><a class="dropdown-item" href="#">지난 로그 보기</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operationDataDownloadModal"
                                                        data-operation-site-id="4">운영 데이터 다운로드</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>서비스를 준비중입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>성덕 태양광</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-secondary"></i> 정상
                                        <i class="bi bi-circle-fill text-danger"></i> 이상
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">ESS 정보 보기</a></li>
                                                <li><a class="dropdown-item" href="#">지난 로그 보기</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operationDataDownloadModal"
                                                        data-operation-site-id="5">운영 데이터 다운로드</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>서비스를 준비중입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Modal ] start -->
        <!-- Monitoring list item modal -->
        <div class="modal fade" id="monitoringListItemModal" tabindex="-1"
            aria-labelledby="monitoringListItemModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="monitoringListItemModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="lds-ripple">
                                <div></div>
                            </div>
                        </div>
                        <div id="monitoringListItemChart" class="d-none"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Download operation data modal -->
        <div class="modal fade" id="operationDataDownloadModal" tabindex="-1"
            aria-labelledby="operationDataDownloadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="operationDataDownloadModalLabel">운영 데이터 다운로드</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="operationDataDownloadModalForm">
                            <div class="form-group">
                                <label class="form-label">날짜:</label>
                                <input type="text" class="form-control" id="operationDataDownloadModalDateInput"
                                    placeholder="날짜를 선택해 주세요" required>
                            </div>
                            <div class="form-group" id="operationDataDownloadModalDataTypeCheckboxGroup">
                                <label class="form-label">데이터 타입:</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operationDataDownloadModalDataTypeCheckboxGroup1" value="bank">
                                    <label class="form-check-label" for="data-type-checkbox-group-1">Bank</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operationDataDownloadModalDataTypeCheckboxGroup2" value="rack">
                                    <label class="form-check-label" for="data-type-checkbox-group-2">Rack</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operationDataDownloadModalDataTypeCheckboxGroup3" value="pcs">
                                    <label class="form-check-label" for="data-type-checkbox-group-3">Pcs</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operationDataDownloadModalDataTypeCheckboxGroup4" value="etc">
                                    <label class="form-check-label" for="data-type-checkbox-group-4">Etc</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">다운로드</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Modal ] end -->

    </div>
    <!-- [ Main Content ] end -->
</div>
{% endblock %}

{% block js %}
{{ ess_protection_map|json_script:"ess-protection-map" }}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.1.1/build/global/luxon.min.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/just-validate@3.3.1/dist/just-validate.production.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/just-validate-plugin-date@1.1.0/dist/just-validate-plugin-date.production.min.js"></script>

<script src="{% static 'js/custom/data_monitoring.js' %}"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>
{% endblock %}