{% extends "base.html" %}

{% load static %}

{% block title %}데이터 모니터링{% endblock %}

{% block html_head %}
<style>
    .card>.card-body {
        height: 320px;
    }

    @media (min-width: 1921px) {
        .card>.card-body {
            height: 480px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">데이터 모니터링</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">메인</a></li>
                            <li class="breadcrumb-item">데이터 모니터링</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>기본 모니터링</h5>
                    </div>
                    <div class="card-body">
                        <p>서비스를 준비중입니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>시온유 태양광</h5>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>백마 태양광</h5>
                    </div>
                    <div class="card-body">
                        <p>서비스를 준비중입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>황금6호 태양광</h5>
                    </div>
                    <div class="card-body">
                        <p>서비스를 준비중입니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>판리2호 태양광</h5>
                    </div>
                    <div class="card-body">
                        <p>서비스를 준비중입니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>성덕 태양광</h5>
                    </div>
                    <div class="card-body">
                        <p>서비스를 준비중입니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
{% endblock %}