{% extends "en/base.html" %}

{% load static %}

{% block title %}Data Monitoring{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<script src="https://unpkg.com/@yaireo/tagify@4.9.4/dist/tagify.min.js"></script>
<script src="https://unpkg.com/@yaireo/tagify@4.9.4/dist/tagify.polyfills.min.js"></script>
<link href="https://unpkg.com/@yaireo/tagify@4.9.4/dist/tagify.css" rel="stylesheet" type="text/css" />
<!-- Tempus Dominus Styles -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.0.0-beta1/dist/css/tempus-dominus.css">

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">

<style>
    .card>.card-body>.row>div {
        height: 225px;
    }

    @media (min-width: 1921px) {
        .card>.card-body>.row>div {
            height: 370px;
        }
    }

    .dropdown-toggle {
        padding: 0;
        border: 0;
    }

    .dropdown-toggle::after {
        display: none;
    }

    div.col.text-truncate[data-bs-target="#monitoringListItemModal"] {
        cursor: pointer;
    }

    #monitoringListItemChart {
        width: 100%;
        height: 300px;
    }

    .lds-ripple {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ripple div {
        position: absolute;
        border: 4px solid #000;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
        0% {
            top: 36px;
            left: 36px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 0px;
            left: 0px;
            width: 72px;
            height: 72px;
            opacity: 0;
        }
    }

    .tooltip-inner {
        text-align: left;
    }
</style>
{% endblock %}

{% block content %}
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Data Monitoring</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'en-index' %}">Main</a></li>
                            <li class="breadcrumb-item">Data Monitoring</li>
                        </ul>
                    </div>
                    <div class="col-md-1 offset-5">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input input-primary" id="testModSwitch">
                            <label for="test-mod" class="form-check-label">Test Mode</label>
                            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Scenarios which abnormal data exists every day"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div id="primaryMonitoringCard" class="card">
                    <div class="card-header">
                        <h5>Primary Monitoring</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Monitoring log area -->
                            <div id="primaryMonitoringLog" class="col-xl-6 col-md-12 overflow-auto">
                                <h6>All error alerts <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title=""
                                        data-bs-original-title="Only a first page is updated in real time."></i></h6>
                                <!-- Loading -->
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <!-- Monitoring log container -->
                                <div id="primaryMonitoringLogContainer" class="d-none"></div>
                                <nav class="m-t-10 d-none" aria-label="grid page">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <!-- Monitoring log level type area  -->
                            <div id="primaryMonitoringLogLevelTypeCount" class="col-xl-6 col-md-12 overflow-auto">
                                <h6>Abnormal Detection Type <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title=""
                                        data-bs-original-title="Visulize the abnormal detection types on the today."></i>
                                </h6>
                                <select class="form-select form-select-sm mb-1">
                                    <option value="1">Sionyu ESS</option>
                                    <option value="2">Panri ESS</option>
                                    <option value="3">Hwangguem #6 ESS</option>
                                </select>
                                <!-- Monitoring log level type chart container -->
                                <!-- Loading -->
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div id="primaryMonitoringLogLevelTypeCountChart" class="d-none" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div id="operatingSite1Card" class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Sionyu ESS</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-success"></i> Normal
                                        <i class="bi bi-circle-fill text-danger"></i> Abnormal
                                        <i class="bi bi-circle-fill text-secondary"></i> Unknown
                                        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="" data-bs-original-title="The 'Abnormal' status is outside the scope of protection threshold values
                                             and includes the 'Warning' and 'Fault' states. 
                                             'Unknown' state refers to a condition that cannot be clearly defined other than 
                                             the 'Warning' and 'Fault' states within the 'Abnormal' states."></i>
                                        </h6>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">View ESS Info</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#monitoringLogViewModal"
                                                        data-operating-site-id="1">View Previous Logs</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operatingDataDownloadModal"
                                                        data-operating-site-id="1">Download the operating site's
                                                        data</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Monitoring list area -->
                            <div id="operatingSite1MonitoringListColumn" class="col-xl-8 col-md-12 overflow-auto"></div>

                            <!-- Monitoring log area  -->
                            <div id="operatingSite1MonitoringLogColumn" class="col-xl-4 col-md-12 overflow-auto">
                                <select class="form-select form-select-sm mb-1">
                                    <option value="0">All</option>
                                    <option value="1">Warning</option>
                                    <option value="2">Fault</option>
                                </select>
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="Input text.">
                                <!-- Loading -->
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div id="operatingSite1MonitoringLogColumnLogContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Panri ESS</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-success"></i> Normal
                                        <i class="bi bi-circle-fill text-danger"></i> Abnormal
                                        <i class="bi bi-circle-fill text-secondary"></i> Unknown
                                        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="" data-bs-original-title="The 'Abnormal' status is outside the scope of protection threshold values
                                             and includes the 'Warning' and 'Fault' states. 
                                             'Unknown' state refers to a condition that cannot be clearly defined other than 
                                             the 'Warning' and 'Fault' states within the 'Abnormal' states."></i>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">View ESS Info</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#monitoringLogViewModal"
                                                        data-operating-site-id="2">View Previous Logs</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operatingDataDownloadModal"
                                                        data-operating-site-id="2">Download the operating site's
                                                        data</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Monitoring list area -->
                            <div id="operatingSite2MonitoringListColumn" class="col-xl-8 col-md-12 overflow-auto"></div>

                            <!-- Monitoring log area  -->
                            <div id="operatingSite2MonitoringLogColumn" class="col-xl-4 col-md-12 overflow-auto">
                                <select class="form-select form-select-sm mb-1">
                                    <option value="0">All</option>
                                    <option value="1">Warning</option>
                                    <option value="2">Fault</option>
                                </select>
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="Input text.">
                                <!-- Loading -->
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div id="operatingSite2MonitoringLogColumnLogContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Hwangguem #6 ESS</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-success"></i> Normal
                                        <i class="bi bi-circle-fill text-danger"></i> Abnormal
                                        <i class="bi bi-circle-fill text-secondary"></i> Unknown
                                        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="" data-bs-original-title="The 'Abnormal' status is outside the scope of protection threshold values
                                             and includes the 'Warning' and 'Fault' states. 
                                             'Unknown' state refers to a condition that cannot be clearly defined other than 
                                             the 'Warning' and 'Fault' states within the 'Abnormal' states."></i>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">View ESS Info</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#monitoringLogViewModal"
                                                        data-operating-site-id="3">View Previous Logs</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operatingDataDownloadModal"
                                                        data-operating-site-id="3">Download the operating site's
                                                        data</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Monitoring list area -->
                            <div id="operatingSite3MonitoringListColumn" class="col-xl-8 col-md-12 overflow-auto"></div>

                            <!-- Monitoring log area  -->
                            <div id="operatingSite3MonitoringLogColumn" class="col-xl-4 col-md-12 overflow-auto">
                                <select class="form-select form-select-sm mb-1">
                                    <option value="0">All</option>
                                    <option value="1">Warning</option>
                                    <option value="2">Fault</option>
                                </select>
                                <input class="form-control form-control-sm mb-1" type="text" placeholder="Input text.">
                                <!-- Loading -->
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <div id="operatingSite3MonitoringLogColumnLogContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Sungduk ESS</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-success"></i> Normal
                                        <i class="bi bi-circle-fill text-danger"></i> Abnormal
                                        <i class="bi bi-circle-fill text-secondary"></i> Unknown
                                        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="" data-bs-original-title="The 'Abnormal' status is outside the scope of protection threshold values
                                             and includes the 'Warning' and 'Fault' states. 
                                             'Unknown' state refers to a condition that cannot be clearly defined other than 
                                             the 'Warning' and 'Fault' states within the 'Abnormal' states."></i>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">View ESS Info</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#monitoringLogViewModal"
                                                        data-operating-site-id="4">View Previous Logs</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operatingDataDownloadModal"
                                                        data-operating-site-id="4">Download the operating site's
                                                        data</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>Ready for service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Baekma ESS</h5>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-10 text-right">
                                        <i class="bi bi-circle-fill text-success"></i> Normal
                                        <i class="bi bi-circle-fill text-danger"></i> Abnormal
                                        <i class="bi bi-circle-fill text-secondary"></i> Unknown
                                        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="" data-bs-original-title="The 'Abnormal' status is outside the scope of protection threshold values
                                             and includes the 'Warning' and 'Fault' states. 
                                             'Unknown' state refers to a condition that cannot be clearly defined other than 
                                             the 'Warning' and 'Fault' states within the 'Abnormal' states."></i>
                                    </div>
                                    <div class="col-2 text-right">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="material-icons-two-tone">
                                                    more_vert
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#">View ESS Info</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#monitoringLogViewModal"
                                                        data-operating-site-id="5">View Previous Logs</a></li>
                                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#operatingDataDownloadModal"
                                                        data-operating-site-id="5">Download the operating site's
                                                        data</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>Ready for service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Modal ] start -->
        <!-- Monitoring list item modal -->
        <div class="modal fade" id="monitoringListItemModal" tabindex="-1"
            aria-labelledby="monitoringListItemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="monitoringListItemModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="lds-ripple">
                                <div></div>
                            </div>
                        </div>
                        <form id="monitoringListItemModalForm">
                            <div class="row">
                                <div class="col-6">
                                    <div class='input-group log-event m-b-10'
                                        id='monitoringListItemModalStartDateTimePicker' data-td-target-input='nearest'
                                        data-td-target-toggle='nearest'>
                                        <input id='monitoringListItemModalStartDateTimeInput' type='text'
                                            class='form-control'
                                            data-td-target='#monitoringListItemModalStartDateTimePicker'
                                            placeholder="Set the start time." />
                                        <span class='input-group-text'
                                            data-td-target='#monitoringListItemModalStartDateTimePicker'
                                            data-td-toggle='datetimepicker'>
                                            <span class='fas fa-calendar'></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='input-group log-event' id='monitoringListItemModalEndDateTimePicker'
                                        data-td-target-input='nearest' data-td-target-toggle='nearest'>
                                        <input id='monitoringListItemModalEndDateTimeInput' type='text'
                                            class='form-control'
                                            data-td-target='#monitoringListItemModalEndDateTimePicker'
                                            placeholder="Set the end time." />
                                        <span class='input-group-text'
                                            data-td-target='#monitoringListItemModalEndDateTimePicker'
                                            data-td-toggle='datetimepicker'>
                                            <span class='fas fa-calendar'></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div id="monitoringListItemChart"></div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Download operating data modal -->
        <div class="modal fade" id="operatingDataDownloadModal" tabindex="-1"
            aria-labelledby="operatingDataDownloadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="operatingDataDownloadModalLabel">Download the operating site's data
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="operatingDataDownloadModalForm">
                            <div class="form-group">
                                <label for='linkedPickers1Input' class='form-label'>Date:</label>
                                <div class='input-group log-event m-b-10'
                                    id='operatingDataDownloadModalStartDateTimePicker' data-td-target-input='nearest'
                                    data-td-target-toggle='nearest'>
                                    <input id='operatingDataDownloadModalStartDateTimeInput' type='text'
                                        class='form-control'
                                        data-td-target='#operatingDataDownloadModalStartDateTimePicker'
                                        placeholder="Set the start time." />
                                    <span class='input-group-text'
                                        data-td-target='#operatingDataDownloadModalStartDateTimePicker'
                                        data-td-toggle='datetimepicker'>
                                        <span class='fas fa-calendar'></span>
                                    </span>
                                </div>
                                <div class='input-group log-event' id='operatingDataDownloadModalEndDateTimePicker'
                                    data-td-target-input='nearest' data-td-target-toggle='nearest'>
                                    <input id='operatingDataDownloadModalEndDateTimeInput' type='text'
                                        class='form-control'
                                        data-td-target='#operatingDataDownloadModalEndDateTimePicker'
                                        placeholder="Set the end time." />
                                    <span class='input-group-text'
                                        data-td-target='#operatingDataDownloadModalEndDateTimePicker'
                                        data-td-toggle='datetimepicker'>
                                        <span class='fas fa-calendar'></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" id="operatingDataDownloadModalDataTypeCheckboxGroup">
                                <label class="form-label">Data Type:</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operatingDataDownloadModalDataTypeCheckboxGroup1" value="bank">
                                    <label class="form-check-label" for="data-type-checkbox-group-1">Bank</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operatingDataDownloadModalDataTypeCheckboxGroup2" value="rack">
                                    <label class="form-check-label" for="data-type-checkbox-group-2">Rack</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operatingDataDownloadModalDataTypeCheckboxGroup3" value="pcs">
                                    <label class="form-check-label" for="data-type-checkbox-group-3">Pcs</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input input-primary"
                                        id="operatingDataDownloadModalDataTypeCheckboxGroup4" value="etc">
                                    <label class="form-check-label" for="data-type-checkbox-group-4">Etc</label>
                                </div>
                            </div>
                            <div class="form-group" id="operatingDataDownloadModalDataTypeRadioButtonGroup">
                                <label class="form-label">Data De-Identification:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio"
                                        name="operatingDataDownloadModalDataTypeRadioButtonDefualt"
                                        id="operatingDataDownloadModalDataTypeRadioButtonGroup1" value="normal" checked>
                                    <label class="form-check-label"
                                        for="operatingDataDownloadModalDataTypeRadioButtonGroup1">General</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio"
                                        name="operatingDataDownloadModalDataTypeRadioButtonDefualt"
                                        id="operatingDataDownloadModalDataTypeRadioButtonGroup2"
                                        value="deIdentification">
                                    <label class="form-check-label"
                                        for="operatingDataDownloadModalDataTypeRadioButtonGroup2">De-Indentification</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Download</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Monitoring log view modal -->
        <div class="modal fade" id="monitoringLogViewModal" tabindex="-1" aria-labelledby="monitoringLogViewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="monitoringLogViewModalLabel">View Previous Logs</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="monitoringLogViewModalForm">
                            <div class="row">
                                <div class="col-6">
                                    <div class='input-group log-event m-b-10'
                                        id='monitoringLogViewModalStartDateTimePicker' data-td-target-input='nearest'
                                        data-td-target-toggle='nearest'>
                                        <input id='monitoringLogViewModalStartDateTimeInput' type='text'
                                            class='form-control'
                                            data-td-target='#monitoringLogViewModalStartDateTimePicker'
                                            placeholder="Set the start time." />
                                        <span class='input-group-text'
                                            data-td-target='#monitoringLogViewModalStartDateTimePicker'
                                            data-td-toggle='datetimepicker'>
                                            <span class='fas fa-calendar'></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='input-group log-event' id='monitoringLogViewModalEndDateTimePicker'
                                        data-td-target-input='nearest' data-td-target-toggle='nearest'>
                                        <input id='monitoringLogViewModalEndDateTimeInput' type='text'
                                            class='form-control'
                                            data-td-target='#monitoringLogViewModalEndDateTimePicker'
                                            placeholder="Set the end time." />
                                        <span class='input-group-text'
                                            data-td-target='#monitoringLogViewModalEndDateTimePicker'
                                            data-td-toggle='datetimepicker'>
                                            <span class='fas fa-calendar'></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Loading -->
                            <div class="text-center">
                                <div class="spinner-border d-none" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div id="monitoringLogViewModalGrid" class="ag-theme-alpine d-none" style="height: 300px;">
                            </div>
                            <nav class="m-t-10 d-none" aria-label="grid page">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                                </ul>
                            </nav>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Modal ] end -->

    </div>
    <!-- [ Main Content ] end -->
</div>
{% endblock %}

{% block js %}
{{ ess_protection_map|json_script:"ess-protection-map" }}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.1.1/build/global/luxon.min.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<!-- Tempus Dominus JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.0.0-beta1/dist/js/tempus-dominus.min.js"></script>
<script src="https://unpkg.com/just-validate@3.3.1/dist/just-validate.production.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/just-validate-plugin-date@1.1.0/dist/just-validate-plugin-date.production.min.js"></script>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>

<script src="{% static 'js/custom/en/data_monitoring.js' %}"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>
{% endblock %}